@import './_base.scss';

.wrapper {
  display: flex;
  padding: 0 20px;
  max-width: 940px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.page-section {
  margin: auto;
  max-width: 940px;
  padding: 35px 10px 0;

  @include md {
    padding-top: 95px;
  }

  &__title {
    margin-bottom: 15px;
    text-align: center;

    @include md {
      margin-bottom: 35px;
    }

    h3 {
      font-size: 22px;
      font-weight: 700;
      line-height: 27px;
    }

    h4 {
      font-family: $alt-font;
      font-size: 18px;
      font-weight: 300;
      margin-top: 10px;

      @include md {
        margin-top: 40px;
      }
    }
  }
}

.brand {
  color: $white;
  font-weight: 700;
  font-size: 20px;
}

.button {
  background: $primary;
  border: 2px solid $primary;
  border-radius: 20px;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  padding: 5px 20px;
  text-align: center;
  transition: 0.3s linear;

  &:hover,
  &:focus {
    color: $white;
    background: darken($color: $primary, $amount: 10%);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &-transparent {
    background: transparent;
    color: $primary;

    &:hover,
    &:focus {
      background: $primary;
      color: $white;

      &:disabled {
        background: transparent;
        color: $primary;
      }
    }
  }
}

.badge {
  background: $primary;
  border-radius: 10px;
  color: $white;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  padding: 0 10px;
}

.notification {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;

  &-wrapper {
    display: flex;
    width: 100%;
  }
  div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $primary;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 8px;
      animation: loader1 0.6s infinite;
    }

    &:nth-child(2) {
      left: 8px;
      animation: loader2 0.6s infinite;
    }

    &:nth-child(2) {
      left: 8px;
      animation: loader2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 32px;
      animation: loader2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 56px;
      animation: loader3 0.6s infinite;
    }
  }

  @keyframes loader1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes loader3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes loader2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}

.skeleton {
  &::after {
    animation: shimmer 2s infinite;

    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    transform: translateX(-100%);

    top: 0;
    width: 100%;
    z-index: 0;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

.header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;

  .wrapper {
    align-items: center;
  }

  .brand {
    display: none;

    @include md {
      display: block;
    }
  }
}

.main-nav {
  align-items: center;
  color: $white;
  display: flex;
  margin: 0 auto;

  @include md {
    margin: 0;
    margin-left: auto;
  }

  &__item {
    border: 2px solid transparent;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    transition: all 0.3s ease-in-out;

    &:hover {
      border-bottom-color: currentColor;
    }

    & ~ a {
      margin-left: 20px;
    }

    &.highlighted {
      border: 2px solid currentColor;
      border-radius: 20px;
      padding: 0 16px;

      &:hover {
        background: rgba($color: $primary, $alpha: 0.5);
      }
    }
  }
}

.hero {
  background: $text-1;
  color: $white;
  height: 540px;
  position: relative;

  @include md {
    height: 700px;
  }

  .wrapper {
    align-items: center;
    height: 100%;
    justify-content: center;
  }

  &__images {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;

    > img,
    > picture {
      height: 100%;
      object-fit: cover;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      width: 100%;

      &.none {
        display: none;
      }

      * {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

      &.active {
        display: block;
        opacity: 1;
        left: 0;
        transition: all 1s ease-in-out;
      }

      &.inactive {
        display: block;
        opacity: 0;
        transition: all 1s ease-in-out;
      }
    }
  }

  &__content {
    max-width: 350px;
    position: relative;
    text-align: center;
    z-index: 1;

    @include md {
      max-width: 500px;
    }

    .brand {
      margin-bottom: 26px;

      @include md {
        display: none;
      }
    }

    h1 {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 5px;

      @include md {
        font-size: 52px;
        margin-bottom: 30px;
      }
    }

    h2 {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 15px;

      @include md {
        font-size: 24px;
        margin-bottom: 30px;
      }
    }

    .button {
      width: 100%;

      @include md {
        width: auto;
      }
    }
  }
}

.cat-breeds {
  display: grid;
  gap: 10px;
  margin: 0 auto 40px;

  &:empty {
    margin: 0;
  }

  @include md {
    gap: 20px;

    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    border-radius: 4px;
    background: $text-3;
    color: $white;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    height: 240px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    position: relative;
    max-width: 500px;

    @include md {
      height: 400px;
      max-width: none;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    &::before {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0%,
        rgba(0, 0, 0, 0.6) 100%
      );
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 1;
      width: 100%;
    }

    img {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      transition: all 0.3s ease-in-out;
      z-index: 0;
      width: 100%;
    }

    * {
      z-index: 2;
    }

    .badge {
      margin-bottom: 20px;
    }

    h4 {
      font-size: 24px;
      font-weight: 700;
      line-height: 14px;
      margin-bottom: 20px;
    }

    p {
      font-family: $alt-font;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.dog-breeds {
  display: grid;
  margin: 0 auto 40px;
  padding: 0 10px;

  @include md {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
  }

  @include lg {
    grid-template-columns: repeat(4, 1fr);
    max-width: none;
  }

  &__item {
    margin: 0 auto 20px;
    max-width: 250px;
    position: relative;
    text-align: center;
    width: 100%;

    figure {
      background: $text-2;
      border-radius: 60px;
      height: 120px;
      overflow: hidden;
      width: 120px;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    h4 {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 20px;
    }

    p {
      color: $text-2;
      font-family: $alt-font;
      font-weight: 300;
      font-size: 14px;
    }
  }

  &__avatar {
    display: inline-flex;
    flex-direction: column;
    margin: 0 auto 15px;
  }

  &__interest {
    background: center no-repeat;
    border: 3px solid $white;
    border-radius: 20px;
    display: block;
    position: relative;
    margin-top: -38px;
    margin-left: auto;
    height: 38px;
    width: 38px;

    &.art {
      background-image: url('../images/interest-art.svg');
    }

    &.music {
      background-image: url('../images/interest-music.svg');
    }

    &.photography {
      background-image: url('../images/interest-photography.svg');
    }

    &.travel {
      background-image: url('../images/interest-travel.svg');
    }
  }

  .button {
    display: block;
    margin: 0 auto;
    max-width: 350px;
  }
}

.activities {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;

  @include md {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    height: 120px;
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    overflow: hidden;
    width: 100%;

    @include sm {
      height: 175px;
    }

    @include md {
      height: 310px;
      max-width: none;

      &.landscape {
        grid-column-end: span 2;
      }
    }

    &:hover {
      img,
      picture {
        transform: scale(1.1);
      }
    }

    img,
    picture {
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out;
      width: 100%;
      z-index: 0;
    }

    figcaption {
      align-items: center;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      font-size: 22px;
      font-weight: 700;
      height: 100%;
      justify-content: center;
      left: 0;
      line-height: 27px;
      padding: 20px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 1;

      @include md {
        height: 310px;
      }
    }
  }
}

.search-partners {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  @include md {
    flex-direction: row;
    max-width: 500px;
    margin: auto;
    padding: 0;
  }

  input {
    background: $white;
    border: 1px solid $input-border;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba($black, 0.07);
    color: $text-2;
    flex: 1;
    height: 40px;
    line-height: 20px;
    margin-bottom: 10px;
    max-width: 350px;
    padding: 10px 15px;
    transition: outline-color 0.3s ease-in-out;
    width: 100%;

    @include md {
      margin: 0;
      width: auto;
    }

    &:focus {
      outline-color: $primary;
    }

    &::-webkit-input-placeholder {
      color: currentColor;
    }

    &:-ms-input-placeholder {
      color: currentColor;
    }

    &::placeholder {
      color: currentColor;
    }
  }

  .button {
    max-width: 350px;
    width: 100%;

    @include md {
      margin-left: 10px;
      width: 175px;
    }
  }
}

.footer {
  border-top: 2px solid $primary;
  margin-top: 40px;
  padding: 20px 0;

  @include md {
    margin-top: 105px;
    padding: 40px 0;
  }

  .wrapper {
    display: grid;

    @include md {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .brand {
    color: $primary;
    font-size: 16px;
    font-weight: 700;
    text-align: center;

    @include md {
      text-align: left;
    }
  }

  &__col {
    & ~ .footer__col {
      margin-top: 15px;

      @include md {
        flex: 1;
        margin: 0;
      }
    }

    h5 {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 10px;
      text-align: center;

      @include md {
        text-align: left;
      }
    }

    h6 {
      color: $text-2;
      font-size: 10px;
      font-weight: bold;
      line-height: 12px;
      margin-bottom: 10px;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 300px;
    margin: auto;

    @include md {
      flex-direction: column;
      justify-content: left;
    }

    a {
      color: $text-2;
      display: inline-block;
      font-family: $alt-font;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 5px;

      &:hover {
        text-decoration: underline;
      }

      & ~ a {
        margin-left: 10px;

        @include md {
          margin-left: 0;
        }
      }
    }
  }

  &__vendor {
    text-align: center;

    @include md {
      text-align: right;
    }
  }
}
