@import './base';

.wrapper {
  display: flex;
  padding: 0 20px;
  max-width: 940px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.page-section {
  margin: auto;
  max-width: 940px;
  padding: 35px 10px 0;

  @include md {
    padding-top: 95px;
  }

  &__title {
    margin-bottom: 15px;
    text-align: center;

    @include md {
      margin-bottom: 35px;
    }

    h3 {
      font-size: 22px;
      font-weight: 700;
      line-height: 27px;
    }

    h4 {
      font-family: $alt-font;
      font-size: 18px;
      font-weight: 300;
      margin-top: 10px;

      @include md {
        margin-top: 40px;
      }
    }
  }
}

.brand {
  color: $white;
  font-weight: 700;
  font-size: 20px;
}

.button {
  background: $primary;
  border: 2px solid $primary;
  border-radius: 20px;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  padding: 5px 20px;
  text-align: center;
  transition: 0.3s linear;

  &:hover,
  &:focus {
    color: $white;
    background: darken($color: $primary, $amount: 10%);
  }

  &-transparent {
    background: transparent;
    color: $primary;

    &:hover,
    &:focus {
      background: $primary;
      color: $white;
    }
  }
}

.badge {
  background: $primary;
  border-radius: 10px;
  color: $white;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  width: 70px;
}
